<div class="alert alert-danger" *ngIf="errorMessage != null">
  {{errorMessage}}
  <button type="button" class="close float-right" aria-label="Close" (click)="errorMessage = null">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #f="ngForm" (ngSubmit)="register(f)" >
  <div class="form-group">
    <label>Nutzername</label>
    <input name="username" type="text" class="form-control" [(ngModel)]="username" required id="RegisterUsername">
  </div>
  <div class="form-group">
    <label>Passwort</label>
    <input name="password" type="password" class="form-control" [(ngModel)]="password" required id="RegisterPassword1">
  </div>
  <div class="form-group">
	  <label>Passwort wiederholen</label>
	  <input name="passwordRepeat" type="password" class="form-control" [(ngModel)]="passwordRepeat" required id="RegisterPassword2">
  </div>
  <button class="btn btn-block btn-outline-primary" id="RegisterButton">Registrieren</button>
</form>
