<div class="container">
  
	 <div *ngIf="!isLoggedIn">
		 <div class="row justify-content-center">
		 <div class="col-8">
			<h4 class="title">Login / Registrierung</h4>
			<hr>
			<div class="card">
				<div class="card-body">
				Ich habe bereits einen Account:	
				<hr>
				<login [authService]="authService" (loggedIn)="load()"></login>
				<hr>
				Ich habe noch keinen Account:
				<hr>
				<register [authService]="authService"></register>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div *ngIf="isLoggedIn">
	<ngb-tabset>
    
	  
	  <ngb-tab title="Meine Nachrichten">
        <ng-template ngbTabContent>
		<div class="row justify-content-center">
          <div class="col-8">
				<h4 class="title">Meine Nachrichten</h4>
				<hr>
				<news-details [news]="latestOwned"></news-details>
				<hr>
				<h4 class="title">Meine Nachrichten</h4>
				<hr>
				<news-list [news]="newsOwned" (deletedNews)="deleteNews($event)" (changedNews)="changeNews($event)" [user]="currentUser"></news-list>
			</div>
		</div>	
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Alle Nachrichten/ Verfassen">
        <ng-template ngbTabContent>
        

			<div *ngIf="isLoggedIn">
			<div class="row">
				<div class="col-12 text-right">
					<div *ngIf="filtered">
						<button class="btn btn-light mr-1" (click)="load()">Alle Nachrichten anzeigen</button>
					</div>
					<button class="btn btn-light" (click)="logout()">Logout {{currentUser}}</button>	
				</div>
				
				
		
			</div>
			<hr>
			<div class="row">
				<div class="col-4">
				<h4 class="title">Create News</h4>
				<hr>
				<create-news-auth (created)="load()"></create-news-auth>
				</div>
				<div class="col-8">
				<h4 class="title">Latest News</h4>
				<hr>
				<news-details [news]="latest"></news-details>
				<hr>
				<h4 class="title">All News</h4>
				<hr>
				<news-list (filteredName)="loadByAuthor($event)"  [news]="news"></news-list>
				</div>
			</div>
			</div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>
</div>		  
			