<div class="alert alert-info" *ngIf="news.length == 0">
  No news available
</div>

<div class="list-group" *ngIf="news.length > 0">
  <div class="list-group-item list-group-item-action flex-column align-items-start active bg-white text-dark" *ngFor="let n of reversedNews; let i = index" [class.list-group-item-primary]="i == 0">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-0"><button class="btn btn-link" (click)="edit(n)">{{n.headline}}</button> by <button class="btn btn-link" (click)="onFilterByName(n.author)">{{n.author}}</button> <span class="badge badge-primary" *ngIf="i == 0">Latest</span></h6>
      <small>{{n.publishedOn | date:mediumDate}}</small>
	</div>
	<div *ngIf="n.editable">
		<p class="mb-1">{{n.content}}</p>
	</div>
  </div>
</div>
