<div class="row">
	<div class="col-10 text-right ">
		<div *ngIf="filtered"> 
			<small class="text-muted"><button class="btn btn-light float-right" (click)="load()">Alle Nachrichten anzeigen</button> </small>	
		</div>
	</div> 
</div>
<div class="row justify-content-center">
	<div class="col-8">
    <h4 class="title">Latest News</h4>
    <hr>
    <news-details [news]="latest"></news-details>
    <hr>
    <h4 class="title">All News</h4>
    <hr>
    <news-list (filteredName)="loadByAuthorAng($event)" [news]="news" [user]="'anon'"></news-list>
  </div>
 
</div>
