<div class="row">
  <div class="col-4">
    <h4 class="title">Create News</h4>
    <hr>
    <create-news (created)="load()"></create-news>
  </div>
  <div class="col-8">
    <h4 class="title">Latest News</h4>
    <hr>
    <news-details [news]="latest"></news-details>
    <hr>
    <h4 class="title">All News</h4>
    <hr>
    <news-list [news]="news"></news-list>
  </div>
</div>
<div class="container">
  <ngb-tabset>
    <ngb-tab title="Bacon">
        <ng-template ngbTabContent>
          <p class="mt-4">Content for tab 1.
            <button type="button"
                    class="btn btn-secondary"
                    placement="bottom"
                    ngbPopover="A popover in tab 1"
                    popoverTitle="Bacon is good">
              Click me
            </button>
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Lettuce">
        <ng-template ngbTabContent>
          <p>Content for tab 2</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Tomatoes">
        <ng-template ngbTabContent>
          <p>Content for tab 3</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>