<div class="container mt-4">
  <div class="jumbotron py-4">
    <h1 class="display-5">Webtech 2 Uebungsprojekt</h1>
    <p class="lead mb-0">Angular-basierte Webanwendung zur Veroeffentlichung von Nachrichten</p>
  </div>


	
		<ngb-tabset>
			<div *ngIf="!auth">
				<ngb-tab title="Startseite">
					<ng-template ngbTabContent>
						<app-angular></app-angular>
					</ng-template>
				</ngb-tab>
			</div>
			<ngb-tab title="Login">
				<ng-template ngbTabContent>
					<app-auth (authent)="setAuth()"></app-auth>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	

	<div class="mt-4">
    
	</div>
</div>
